<div class="home">
	
	<md-card layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/51voLbgpMiL._SY498_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				JavaScript高级程序设计</div>
			<div class="card-content__author">作者: <span>泽卡斯 (Zakas. Nicholas C.)</span></div>
			<div flex class="card-content__desc">
				<b>热评:</b> &nbsp;经典之作，在不同的阶段看过几遍，每次都有收获。
				四、五、六、七几章写的很好，详细解释了一些重要概念。
				书中的例子很贴合当前的知识点所以很精简。
				个人愚见，这本书很厚是因为知识点太多，并非是作者啰嗦。
			</div>
		</div>
	</md-card>



	<md-card layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/51rbrV0h%2BPL._SX358_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				人人都是产品经理</div>
			<div class="card-content__author">作者: <span>苏杰</span></div>
			<div flex class="card-content__desc">
				<b>热评:</b>&nbsp;书写的不错，对于没有什么社会阅历的职场新人，或者奋斗在纯粹技术岗位上多年的人，产品经理的工作职责和定位其实还是比较容易揣摩和定位的，对于混社会的老炮来讲，没什么营养了。
大概也是只有我这种挺大岁数创业的人，才会想到去读这些书把！很快就看完了……
			</div>
		</div>
	</md-card>


</div>