<div class="home">
	
	<md-card ng-click="$ctrl.enterDetails()" layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/51voLbgpMiL._SY498_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				JavaScript高级程序设计</div>
			<div class="card-content__author">作者: <span>泽卡斯 (Zakas. Nicholas C.)</span></div>
			<div flex class="card-content__desc">
				<b>热评:</b> &nbsp;经典之作，在不同的阶段看过几遍，每次都有收获。
				四、五、六、七几章写的很好，详细解释了一些重要概念。
				书中的例子很贴合当前的知识点所以很精简。
				个人愚见，这本书很厚是因为知识点太多，并非是作者啰嗦。
			</div>
		</div>
	</md-card>



	<md-card layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/51rbrV0h%2BPL._SX358_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				人人都是产品经理</div>
			<div class="card-content__author">作者: <span>苏杰</span></div>
			<div flex class="card-content__desc">
				<b>热评:</b>&nbsp;书写的不错，对于没有什么社会阅历的职场新人，或者奋斗在纯粹技术岗位上多年的人，产品经理的工作职责和定位其实还是比较容易揣摩和定位的，对于混社会的老炮来讲，没什么营养了。
大概也是只有我这种挺大岁数创业的人，才会想到去读这些书把！很快就看完了……
			</div>
		</div>
	</md-card>


	<md-card layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/51P6nv8%2BcLL._SX394_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				人月神话</div>
			<div class="card-content__author">作者: <span>小弗雷德里克·布鲁克斯 (Frederick P.Brooks)</span></div>
			<div flex class="card-content__desc">
				<b>热评:</b>&nbsp;经典中的经典，从20年前第一次看到这本书就崇拜至极，后来拷贝了一套电子版，看到再版，果断出手
			</div>
		</div>
	</md-card>



	<md-card layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/51pr526Ne8L._SX393_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				代码大全</div>
			<div class="card-content__author">作者: <span>史蒂夫•迈克康奈尔 (Steve McConnell) </span></div>
			<div flex class="card-content__desc">
				<b>热评:</b>&nbsp;代码大全2给众多软件开发人员提供了提高自己的平台。这是作者多年编程的经验，不仅有编程的技巧，更重要的是给了我们思考编程的方法...
			</div>
		</div>
	</md-card>



	<md-card layout="row" class="md-padding">
		<img class="book-thumb" src="https://images-cn.ssl-images-amazon.com/images/I/41YrwH3BeHL._SX446_BO1,204,203,200_.jpg" alt="">
		<div layout="column" class="card-content">
			<div class="card-content__title">
				Objective-C高级编程:iOS与OS X多线程和内存管理</div>
			<div class="card-content__author">作者: <span>坂本一树 (Kazuki Sakamoto), 古本智彦 (Tomohiko Furumoto) </span></div>
			<div flex class="card-content__desc">
				<b>热评:</b>&nbsp;干货不少，值得购买。但语言感觉不是很流畅，另外，书中对一些问题的讲解，多以代码中穿插注释的方式，读者须自己辨别注释针对的上下文。文中没有标准，须读者自己判断。另外，吐槽一下 obc 的内存管理方式，感觉真畸形。
			</div>
		</div>
	</md-card>





</div>